{% extends "home/header.html" %}
{% load staticfiles %}

{% block content %}
<br>
<div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="">
                    <img src="{% static 'img/newspaper.jpg' %}" class="img-responsive slideImage" alt="banner">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="jumbotron">
                    <!--<img src="{% static 'img/Aai.jpg' %}" class="img2" alt="banner" width="500px" height="300" width="600">-->
                        <center>आईश्री प्रतिष्ठान सेवाभावी संस्था कोणत्या क्षेत्रात काम करते असा पहिला प्रश्न आम्हाला विचारला जातो याचे सोपे उत्तर आहे <br>
                            <b><p class="highlite">आई आपल्या मुलांसाठी काय काय करते ?</p></b></center><br>
                           &emsp;&emsp;  हा प्रश्नच त्याचे उत्तर आहे.
                        जसे आई आपल्या मुलांसाठी ज्या गोष्टी आवश्यक असेल त्या करत असते तसेच समाजातील कोणत्याही क्षेत्रात उणीव दिसून आली तर
                       आवश्यकत्यानुसार आणि संस्थेच्या क्षमते नुसार ते काम संस्था करते.<br>
                        &emsp;&emsp; <b>आईश्री प्रतिष्ठान</b> ची स्थापना 2018 मध्ये  झाली असली तरी याचा भक्कम पाया या पूर्वीच 10 वर्ष तयार झाला
                        महाराष्ट्रातील विविध जिल्यांमध्ये फिरताना अंधकारमय जीवन जगणारी हजारो व्यक्ती व गावे दिसून आली. होईल त्या प्रकारे
                        त्यांना मदत करण्याचा प्रामाणिक प्रयत्न आजवर आम्ही केला परंतु वयक्तिक स्वरूपात असलेला हा प्रयत्न जेव्हा कमी पडू लागला तेव्हा साकारले.
                    <br> <center><h2><p class="blink">*आईश्री प्रतिष्ठान*</p></h2></center>
                    &emsp;&emsp; आज आईश्री प्रतिष्ठान चे कार्य औरंगाबाद, नाशिक, ठाणे, पालघर, व जालना या जिल्ह्यात जोमाने सुरू आहे. शिक्षण, विद्यार्थी विकास , पाणी , सेवा, आरोग्य ,
                       पुनर्वसन , जनजागृती, पर्यावरण रक्षण ,
                       संस्कृती विकास , जनसेवा, कुपोषण, वृध्द सेवा , दिव्यांग सेवा असल्या विविध क्षेत्रात संस्था काम करते.
                    संस्थेला स्वतःचे नाव वाढावे याची मुळीच गरज वाटत नाही जो दाता ज्या कामासाठी मदत करेल त्याचेच नाव संबधित कार्यास दिले जाते.   यामुळे अनेक एकनिष्ठा सभासद दरमहा 50
                       रु पासून पुढे रक्कम जमा करून संस्थेच्या कार्यात मोलाचा सहभाग घेत आहे
                       आपणही या प्रकारे सहभागी होऊ शकता.
                     या प्रमाणे सभासद होऊन आपण आपल्या आईचे स्वप्न पूर्ण करू शकतो असेच समजावे.<br>
                    <center><h5>*चलो जलये दीप वाहा जहाँ अभी भी अंधेर है।*</h5></center>
                     <p style="text-align:right">श्री कृष्णा साहेबराव मुरमे</p>
                </div>
            </div>

        </div>
</div>
{% endblock %}